<footer class="footer container-fluid">
	      <div class="footer__body container">  
				<div class="footer__block">
					<div class="footer__logo">DREAMSHARE</div>
				</div>
				<nav class="nav">
					<div class="nav__title"><strong>Company</strong></div>
					<ul class="nav__list">
						<li class="nav__item"><a href="#" class="nav__link">About</a> </li>
						<li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Press</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Terms and Privacy</a></li>
						<li class="nav__item"><a href="#" class="nav__link">Help</a></li>
					</ul>
				</nav>
				<div class="footer__block">
					<div class="footer__partners">Partners</div>
				</div>
				<div class="footer__block">
					<img src="../assets/images/areto.svg" alt="" class="footer__areto">	
				</div>
      </div>  
</footer>
