<header class="header container-fluid">
	     <div class="header__inner container">
	        <div class="cap">
	        	<div class="cap__logo">DREAMSHARE</div>
	        	<div class="cap__wrap-registration">
	        		<button class="cap__sigin-in">Log in</button>
	        		<button class="cap__sigin-up">Sign up</button>
	        	</div>
	        </div>
	        <div class="contant">
	        	<div class="contant__inner">
	        		<div class="contant__logo">DREAMSHARE</div>
	        		<h1 class="contant__title">SHARE YOUR <br> HOLIDAY DREAM</h1>
	        		<p class="contant__subtitle">And find the perfect partner to fullfill it</p>
	        		<a href="#" class="contant__link">Find your holiday partner</a>
	        	</div>
	        </div>
        </div>
</header>

