$colorText:#FFFFFF;
$colorButton-1:#FFFFFF;
$colorButton-2:#FF4E50;
$colorTitle:#444444;

$BackgroundButton:#FF4E50;
$Background:#FFFFFF;


$fontFamily-1: Montserrat-Bold ;
$fontFamily-2: Montserrat-Regular;
$fontFamily-3: Roboto-Light;